.booking__header {
    padding-top: 30px;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 27px;
}

@media (min-width: $tablet-width) {
    .booking__header {
        padding-top: 58px;
        padding-left: 22%;
        padding-right: 22%;
        padding-bottom: 37px;
    }
}

@media (min-width: $desktop-width) {
    .booking__header {
        padding-left: 32%;
        padding-right: 32%;
        padding-bottom: 42px;
    }
}

.booking__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: $tablet-width) {
    .booking__title {
        font-size: 30px;
    }
}

.booking__intro {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: $darkgray;
}

.map {
    height: 350px;
    padding-top: 49px;
}

@media (min-width: $tablet-width) {
    .map {
        padding-top: 58px;
    }
}

@media (min-width: $desktop-width) {
    .map {
        padding-top: 66px;
    }
}
