.copyright {
    display: flex;
    align-items: center;
}

.copyright__text {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.copyright__link {
    &:hover {
        fill: $bg-blue;
    }

    &:focus {
        fill: $bg-blue;
    }
    
    &:active {
        fill: rgba(0, 0, 0, 0.3);
    }
}