.main-nav {
    position: relative;
}

@media (max-width: $mobile-width-only) {
    .main-nav {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (min-width: $tablet-width) {
    .main-nav {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: $mobile-width-only) {
    .main-nav__toggle::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 23px;
        height: 4px;
        background-color: $bg-blue;
        box-shadow: 0 9px 0 0 $bg-blue, 0 18px 0 0 $bg-blue;
    }
      
    .main-nav__toggle:hover::before,
    .main-nav__toggle:focus::before {
        opacity: 0.6;
    }
    
    .main-nav__toggle:active::before {
        opacity: 0.3;
    }
    
    .main-nav--closed .main-nav__toggle {
        right: 19px;
        top: 16px;
        left: auto;
      
        &::before,
        &::after {
          content: "";
          position: absolute;
          right: -2px;
          top: 10px;
          width: 27px;
          height: 4px;
          background-color: $white;
        }
      
        &::before {
          transform: rotate(45deg);
          box-shadow: none;
        }
      
        &::after {
          transform: rotate(-45deg);
        }
      
        &:hover::before,
        &:focus::after {
          opacity: 0.6;
        }
    
        &:active::before,
        &:active::after {
          opacity: 0.3;
        }
    }

    .main-nav__list a {
        position: relative;
        display: block;
        padding-top: 9px;
        padding-bottom: 5px;
        font-size: 18px;
        line-height: 40px;
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        background-color: $bg-blue;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(1, 1, 1, 0.2);

        &:not(:first-child) {
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(1, 1, 1, 0.2);
        }

        &:hover {
            background-color: $bg-blue-hover;
        }

        &:focus {
            background-color: $bg-blue-focus;
        }  
    }

    .main-nav__list {
        display: none;
    }

    &--shown {
      display: block;
    }

    .main-nav--nojs .main-nav__toggle {
        display: none;
    }
}









.page-header__logo {
    position: absolute;
    left:50%;
    margin-left: -51px;
}


.main-nav__toggle {
    display: none;
}

@media (max-width: $mobile-width-only) {
    .main-nav__row {
        height: 56px;
    }

    .page-header__logo {
        bottom: -32px;
    }

    .main-nav__toggle {
        display: block;
        bottom: 16px;
        right: 19px;
        z-index: 2;
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: transparent;
        cursor: pointer;
        border: none;
        
    } 
}

@media (min-width: $tablet-width) {
    .page-header__logo {
        top: 0;
    }
}

.main-nav__list {
    display: flex;
    padding-left: 0;
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: $mobile-width-only) {
    .main-nav__list {
        flex-direction: column;
    }
}

@media (min-width: $tablet-width) {
    .main-nav__list li {
        width: 20%;
    }
}

.main-nav__item {
    text-align: center;
}


@media (min-width: $tablet-width) {
    .main-nav__item {
        padding-top: 16px;
        padding-bottom: 14px;
    }

    .main-nav__list a {
        color: $black;
        &:hover,
        &:focus {
            color: $bg-blue;
        }
        &:active {
            color: rgba(0, 0, 0, 0.3);
        }  
    }
}

@media (min-width: $tablet-width) {
    .main-nav__item--active a {
        color: #766357;
    }

    &:hover,
    &:focus {
        color: #604E43;
    }

    &:active {
        color: #766357;
        opacity: 0.3;
    }  
}