.picture-card {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.picture-card-description {
    padding-top: 11px;
}

.picture-card__title {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.picture-card__author {
    font-size: 14px;
    line-height: 24px;
    color: $darkgray;
    margin: 0;
}

.picture-likes {
    display: flex;
    align-items: center;
    width: 80px;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 11px;
}

.picture-likes-icon {
    fill: $black;
    opacity: 0.3;
}

.picture-likes-number {
    padding-left: 14px;
}

.picture-card-image img {
    display: block;
}

@media (max-width: $mobile-width-only) {
    .picture-card {
        padding-top: 22px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: $tablet-width) {
    .picture-card-description {
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f2f2f2;
    }

    .picture-likes {
        position: absolute;
        right: 5px;
        bottom: 11px;
    }

    .picture-likes-number {
        padding-left: 9px;
    }
}

@media (min-width: $desktop-width) {
    .picture-card-description {
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .picture-card__title {
        color: $white;
    }

    .picture-card__author {
        color: $white;
    }

    .picture-likes-number {
        color: $white;
    }

    .picture-likes-icon {
        fill: $white;
        opacity: 1;
    }
}
