.picture-card {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.picture-card-description {
    padding-top: 11px;
    padding-bottom: 15px;
}

.picture-card__title {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.picture-card__author {
    font-size: 14px;
    line-height: 24px;
    color: $darkgray;
    margin: 0;
}

.picture-likes {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}

.picture-likes::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 21px;
    width: 23px;
    height: 21px;
    background-image: url(../../img/icon-like.svg);
}

.likes-number {
    padding-left: 20px;
}

.picture-card-image img {
    display: block;
}

@media (min-width: $tablet-width) {
    .picture-card {
        padding-left: 0;
        padding-right: 0;
    }

    .picture-card-description {
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f2f2f2;
    }
}

@media (min-width: $desktop-width) {
    .picture-card-description {
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .picture-card__title {
        color: $white;
    }

    .picture-card__author {
        color: $white;
    }

    .picture-likes {
        color: $white;
    }
}
