.review__title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.review__intro {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}