.review__header {
    padding-top: 36px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.review__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.review__intro {
    color: $darkgray;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 17px;
}

@media (max-width: $mobile-width-only) {
    .review__header {
        border-bottom: 1px solid #e5e5e5;
    }
}

@media (min-width: $tablet-width) {
    .review__header {
        padding-top: 65px;
        padding-left: 22%;
        padding-right: 22%;
        padding-bottom: 62px;
    }

    .review__title {
        font-size: 30px;
    }
}

@media (min-width: $desktop-width) {
    .review__header {
        padding-top: 114px;
        padding-left: 32%;
        padding-right: 32%;
        padding-bottom: 56px;
    }
}
