.video {
}

.video__header {
    text-transform: uppercase;
    text-align: center;
    padding-top: 32px;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 33px;
}

.video__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
}

.video__intro {
    font-size: 14px;
    line-height: 24px;
}

@media (min-width: $tablet-width) {
    .video {
        margin: 0 7.82%;
    }

    .video__header {
        padding-top: 53px;
        padding-left: 102px;
        padding-right: 102px;
        padding-bottom: 62px;
    }

    .video__title {
        font-size: 30px;
    }
}

@media (min-width: $desktop-width) {
    .video {
        margin: 0 16.67%;
    }

    .video__header {
        padding-top: 57px;
        padding-left: 178px;
        padding-right: 178px;
        padding-bottom: 60px;
    }
}
