.features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.features__item--type-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 0;
    display: flex;
    justify-content: space-between;
}

.features__item--type-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__image {
    order: -1;
}

.features__list {

}








.features__title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.features__intro {
    font-size: 14px;
    text-transform: uppercase;
    color: $darkgray;
    text-align: center;
}

.features__list {
    padding-left: 0;
}

.features__item {
    text-transform: uppercase;
}

.features__item--type-1 {
    background-color: $bg-blue;
    color: $white;
}

.features__item--type-3 {
    background-color: $grey;
}

.features__feature-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.features__number {
    font-size: 14px;
    text-align: center;
}

.features__description {
    font-size: 14px;
    text-align: center;
}

// .features__image {
    // fill: $bg-blue;
// }