.gallery__header {
    text-transform: uppercase;
}

.gallery__title {
    font-size: 18px;
    font-weight: bold;
}

.gallery__intro {
    font-size: 14px;
    color: $darkgray;
}

.gallery__list {
    padding-left: 0;
}

.picture-card__title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.picture-card__author {
    font-size: 14px;
    color: $darkgray;
}