.gallery__header {
    text-transform: uppercase;
}

.gallery__title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.gallery__intro {
    font-size: 14px;
    color: $darkgray;
    text-align: center;
}

@media (min-width: $mobile-width-only) {
    .picture-card {
        display: flex;
        flex-direction: column;
    }
    .picture-card img {
        order: -1;
    }
}



@media (min-width: $desktop-width) {
.gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 0;
}

.gallery__item:first-child {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
}

.picture-card {
    display: flex;
}

.picture-card h3 {
}

.picture-card {
}

.picture-card img {
    display: inline-block;
    order: -1;
}

}




.picture-card__title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.picture-card__author {
    font-size: 14px;
    color: $darkgray;
}