.main-nav {
    display: flex;
    flex-direction: row;

    @media (min-width: $mobile-width-only) {
        display: flex;
        flex-direction: column-reverse;
    }

}






.main-nav__list {
    padding-left: 0;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $black;
}



.main-nav__item  {

    @media (min-width: $mobile-width-only) {
        .main-nav__item {
            font-weight: bold;
            text-transform: uppercase;
            padding: 10px 14px 10px 14px;
            background-color: $bg-blue;
            box-shadow: 0px 0px 1px 0px rgba(1, 1, 1, 0.2);
            & a {
                color: $white;
                &:hover {
                    background-color: $bg-blue-hover;
                }
                &:focus {
                    background-color: $bg-blue-focus;
                }  
            }
        }
    }


    
}


