.page-footer__hash {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.social__link--twitter {

}

.social__link--facebook {

}

.social__link--youtube {

}

.copyright__text {
    font-size: 14px;
    text-transform: uppercase;
}

.copyright__link {
    &:hover {
        fill: $bg-blue;
    }
    &:focus {
        fill: $bg-blue;
    }
    &:active {
        fill: rgba(0, 0, 0, 0.3);
    }
}