/* Colors */

$bg-blue: #81B3D2;
$bg-blue-hover: #669EC0;
$bg-blue-focus: #5496BD;
$white: #FFFFFF;
$grey: #EEEEEE;
$lightgray: #F2F2F2;
$softgrey: #E5E5E5;
$darkgray: #333333;
$black: #000000;

/* Breakpoints */

$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;